@font-face {
  font-family: "04b03";
  src: url(../04b03.TTF);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "04b03", monospace;
  color: #010101;
  font-size: 14px;
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#833ab4), color-stop(50%, #fd1d1d), to(#fcb045));
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  min-height: calc(100vh - 100px);
  margin: 50px;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ee2299;
}

a:visited {
  color: #f581c5;
}

a:hover {
  color: #ff7700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  text-transform: uppercase;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro {
  grid-column: span 3;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(32px, 148px))[3];
      grid-template-columns: repeat(3, minmax(32px, 148px));
  -ms-flex-line-pack: center;
      align-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  margin: auto;
}

.item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}

.footer {
  text-align: center;
}
