<title>{{ site.og.title }}</title>
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords | join(', ') }}">
<meta name="robots" content="{{ site.robots }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon.appleTouchIcon | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon.favicon32 | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon.favicon16 | url }}">
<link rel="manifest" href="{{ site.favicon.manifest | url }}">

<meta property="og:title" content="{{ site.og.title }}">
<meta property="og:locale" content="{{ site.og.locale }}">
<meta property="og:type" content="{{ site.og.type }}">
<meta property="og:url" content="{{ site.og.url }}">
<meta property="og:image" content="{{ site.og.image }}">
<meta name="twitter:card" content="{{ site.twitter.card }}">
<meta name="twitter:creator" content="{{ site.twitter.creator }}">