@font-face {
  font-family: "04b03";
  src: url("../assets/04b03.ttf");
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "04b03", monospace;
  color: #fefefe;
  font-size: 14px;
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  min-height: calc(100vh - 100px);
  margin: 50px;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ee2299;
}
a:visited {
  color: #f581c5;
}
a:hover {
  color: #ff7700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  grid-column: span 3;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(32px, 148px));
  align-content: center;
  /* grid-template-columns: repeat(3, 1fr); */
  margin: auto;
}

.item {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}

.footer {
  text-align: center;
}

.hidden {
  display: none;
}

button {
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  background: #cf9;
  color: rgba(0, 0, 0, 0.84);
  border: none;
  margin: 2px 0;
  padding: 8px;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5), inset -2px -2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  font-family: "04b03", monospace;
  height: 32px;
  cursor: pointer;
  text-align: left;
  line-height: 1;
  margin-top: 2px;
  margin-left: 8px;
  white-space: nowrap;
}
button:first-child {
  margin-left: 0;
}
button:hover {
  background: #e6ffcc;
}
button:active, button.pressed {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(51, 51, 51, 0.84), 0 2px 0 rgba(51, 51, 51, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  background: #bfff80;
}
button.secondary {
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  background: #fc9;
  color: rgba(0, 0, 0, 0.84);
  border: none;
  margin: 2px 0;
  padding: 8px;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5), inset -2px -2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  font-family: "04b03", monospace;
  height: 32px;
  cursor: pointer;
  text-align: left;
  line-height: 1;
  margin-top: 2px;
  margin-left: 8px;
  white-space: nowrap;
}
button.secondary:first-child {
  margin-left: 0;
}
button.secondary:hover {
  background: #ffe6cc;
}
button.secondary:active, button.secondary.pressed {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(51, 51, 51, 0.84), 0 2px 0 rgba(51, 51, 51, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  background: #ffbf80;
}
button.tertiary {
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  background: #f69;
  color: rgba(0, 0, 0, 0.84);
  border: none;
  margin: 2px 0;
  padding: 8px;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5), inset -2px -2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  font-family: "04b03", monospace;
  height: 32px;
  cursor: pointer;
  text-align: left;
  line-height: 1;
  margin-top: 2px;
  margin-left: 8px;
  white-space: nowrap;
}
button.tertiary:first-child {
  margin-left: 0;
}
button.tertiary:hover {
  background: #ff99bb;
}
button.tertiary:active, button.tertiary.pressed {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(51, 51, 51, 0.84), 0 2px 0 rgba(51, 51, 51, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  background: #ff4d88;
}
button + button {
  margin-left: 8px;
}
button + button:active {
  margin-left: 8px;
}
button.raised {
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5), inset -2px -2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(0, 0, 0, 0.84), 0 2px 0 rgba(0, 0, 0, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84), 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
}
button.raised:active, button.raised.pressed {
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.15), -2px 0 0 rgba(0, 0, 0, 0.84), 2px 0 0 rgba(51, 51, 51, 0.84), 0 2px 0 rgba(51, 51, 51, 0.84), 0 -2px 0 rgba(0, 0, 0, 0.84);
  margin: 4px 0 0 8px;
}
button.raised:first-child:active, button.raised.pressed:first-child {
  margin-left: 0;
}